<nav class="navbar navbar-light bg-primary >
    <a href="/" class="navbar-brand"> <img src="/img/navmage.png" onclick="Redirect()"></a>
</nav>

<script>
    function Redirect() {
        window.location.href = '/';
    }
    
</script>